@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Ubuntu:wght@300&display=swap');

body {
  background-image: url(/bg\ image/bg.jpg);
  background-size: cover;
}

.body-container {
  padding-top: 5px;
  width: 650px;
  height: 620px;
  margin: 20px auto 0;
  background-color: white;
  border: 1px solid black;
}

.header {
  margin: 25px auto 0;
  text-align: center;
  width: 598px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;
}

.canvas-container {
  width: 600px;
  margin: 0 auto;
}

.scoreboard-container, .score-container, .bestScore-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard-container {
  width: 596.8px;
  margin: 0 auto;
  border:  1px solid black;
}

.score-container {
  margin-right: 20px;
  border: 1px solid white;
  padding: 0 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;;
}

  .score-label {
    margin-right: 5px;
  }

  .bestScore-label {
    margin-right: 5px;
  }

.bestScore-container {
  border: 1px solid white;
  padding: 0 10px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;;
}

.stop-btn-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 10px auto 0;
}

button {
  cursor: pointer;
}