

.canvas-container {
  width: 600px;
  margin: 0 auto;
}

.scoreboard-container, .score-container, .bestScore-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard-container {
  width: 600px;
  margin: 0 auto;
}

.score-container {
  margin-right: 20px;
}